*{
    box-sizing: border-box;
}


.contaner{
    width: 60%;
    margin-left: 5%;
}


.divTable{
    margin-top: 1%;
    border: 3px dashed darkblue;
    width: 50%;
}
#tableCon{
    font-size: larger;
    color: darkcyan;
}
#headTa{
    padding: 1%;
}