body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.div1{
    width: 50%;
    margin-left: 2%;
    border: 1px solid;
    margin-bottom: 1%;
}
.div2{
    margin-top: 0%;
    margin-left: 0%;
    padding-top: 2%;
    padding-left: 2%;
    height: 6vh;
    background-color: rgb(231, 231, 231);
    font-size: 2vw;
    font-weight: 700;
}
a{
    font-size: medium;
    padding: 1%;
}

p{
    color: rgb(158, 158, 158);
    padding: 2%;
    font-size: 1.5vw;
    font-weight: 500;
    display: none;
}
#show1,#show2,#show3{
margin-left: 10%;
font-size: large;
}
