fieldset {
    width:30%;
    margin: 5% 25%;
    /* background-color: rgba(255, 255, 0, 0.364); */
    border: 3px solid yellow;
}
legend{
    color: rgb(120, 180, 0);
    font-size: 1.8vw;
}
label{
    text-align: center;
    color: rgb(120, 180, 0);
}
input{
    width: 50%;
    height: 4vh;
    padding-left: 3%;
    border: 1px solid rgba(120, 180, 0, 0.647);
}
button{
    width: 50%;
    height: 5vh;
    background-color: rgba(120, 180, 0, 0.647);
    border: 2px solid rgba(120, 180, 0, 0.647);
    border-radius: 4px;
    color: white;
}
#result{
    margin-left: 25%;
}
#cityResult{
    color: orange;
}